<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="MainController" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/deadmau5.png">

    <title>cse490m Sensor Data</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="header">
        <h1>cse490m Sensor Data</h1>
      </div>

      <!-- Nav tabs -->
      <ul id="navBar" class="nav nav-tabs" role="tablist">
        <li id="viewDataTab"><a href="#view_data" role="tab" data-toggle="tab">View Data</a></li>
        <li id="addDataTab"><a href="#add_data" role="tab" data-toggle="tab">Add Data</a></li>
        <li id="showAPITab"><a href="#api" role="tab" data-toggle="tab">API</a></li>
      </ul>

      <div ng-show="addData">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">User Id</label>
            <div class="col-sm-10">
              <input ng-model="addId" type="text" class="form-control" placeholder="User Id (required)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sensor Type</label>
            <div class="col-sm-10">
              <input ng-model="addType" type="text" class="form-control" placeholder="Sensor Type (required)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Time</label>
            <div class="col-sm-10">
              <input ng-model="addTime" type="text" class="form-control" placeholder="Timestamp (required)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Value</label>
            <div class="col-sm-10">
              <input ng-model="addValue" type="text" class="form-control" placeholder="Value (required)">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-disabled="disableAddDataButton()" ng-click="submitData()" type="submit" class="btn btn-default" id="searchButton">Add Data</button>
            </div>
          </div>
        </form>
        <div class="alert alert-info col-sm-offset-2 col-sm-10" ng-show="sendingRequest" role="alert">{{ postRequest }}</div>
        <div class="alert alert-success col-sm-offset-2 col-sm-10" ng-show="serverSuccess" role="alert">Success. Server response: {{ response }}</div>
        <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="serverError" role="alert">Error. Server response: {{ response }}</div>
      </div>

      <div id="viewData" ng-show="viewData" >
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">User Id</label>
            <div class="col-sm-10">
              <input ng-model="getId" type="text" class="form-control" placeholder="User Id (leave blank for all)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Sensor Type</label>
            <div class="col-sm-10">
              <input ng-model="getType" type="text" class="form-control" placeholder="Sensor Type (leave blank for all)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">From</label>
            <div class="col-sm-10">
              <input ng-model="getStartTime" type="number" class="form-control" placeholder="The beginning of time">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">To</label>
            <div class="col-sm-10">
              <input ng-model="getEndTime" type="number" class="form-control" placeholder="The end of time">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Function</label>
            <div class="col-sm-10">
              <input ng-model="getFunction" type="text" class="form-control" placeholder="(leave blank for no function)">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button ng-click="getResults()" type="submit" class="btn btn-default" id="searchButton">Search</button>
              <button ng-click="clearResults()" type="submit" class="btn btn-default" id="resetButton">Reset</button>
            </div>
          </div>
        </form>

        <div class="alert alert-info col-sm-offset-2 col-sm-10" ng-show="showGetAlert" role="alert">
          {{ getRequest }}
        </div>

        <div class="alert alert-success col-sm-offset-2 col-sm-10" ng-show="showFuncResult" role="alert">
          {{ "Result : " + funcResult }}
        </div>


        <div class="alert alert-danger col-sm-offset-2 col-sm-10" ng-show="showGetError" role="alert">
          {{ "Error : " + getError }}
        </div>

        <table class="table" ng-show="showTable">
          <tr>
            <th>UserId</th>
            <th>Sensor Type</th>
            <th>Timestamp</th>
            <th>Value</th>
          </tr>
          <tr ng-repeat="entry in result">
            <td>{{ entry.id }}</td>
            <td>{{ entry.type }}</td>
            <td>{{ entry.time }} ({{ entry.time/1000000 | date:'yyyy-MM-dd HH:mm:ss Z' }})</td>
            <td>{{ entry.value }}</td>
          </tr>
        </table>
    </div> <!-- viewData -->

      <div ng-show="showAPI" class="col-sm-offset-1 col-sm-10">

        <div class="panel panel-info">
          <div class="panel-heading">Adding Data</div>

          <table class="table">
            <tr>
              <th class="col-sm-3">Request Type</th>
              <td>POST</td>
            <tr>
              <th>Path</th>
              <td>/api/user_data</td>
            </tr>
            <tr>
              <th>Request Body</th>
              <td>An array of tuples, each of which must contain: id, time, type & value</td>
            </tr>
            <tr>
              <th>Example Body</th>
              <td>[tuple, tuple, tuple, ...]</td>
            </tr>
            <tr>
              <th>Example Tuple</th>
              <td>"id":"test","type":"gps","time":123,"value":123}</td>
            </tr>
          </table>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">Querying Data</div>

          <table class="table">
            <tr>
              <th class="col-sm-3">Request Type</th>
              <td>GET</td>
            <tr>
              <th>Path</th>
              <td>/api/user_data</td>
            </tr>
            <tr>
              <th>Params</th>
              <td>id, type, start (start time inclusive), end (end time exclusive), queryFunc</td>
            </tr>
            <tr>
              <th>Example Request</th>
              <td>/api/user_data&id=test&start=0&end=500&type=gps</td>
            </tr>
            <tr>
              <th>Example Function</th>
              <td>return data.length;</td>
            </tr>
            <tr>
              <th>Example Function</th>
              <td>var max = 0; for (var i = 0; i < data.length; i++) max = Math.max(max, data[i].time); return max;</td>
            </tr>
            <tr>
              <th>Response (no function)</th>
              <td>[tuple, tuple, tuple, ...]</td>
            </tr>
            <tr>
              <th>Response (with function)</th>
              <td>"whatever your function returns"</td>
            </tr>
            <tr>
              <th>Example Tuple</th>
              <td>{"id":"test","type":"gps","time":123,"value":123}</td>
            </tr>
            <tr>
              <th>Note</th>
              <td>
                <p>
                If a query contains a function, the other query parameters are used first to obtain a list of tuples from the database. This list of tuples 'data' is then passed to a function with the body provided by the parameter 'queryFunc'. The response is the return value of the function.
                </p>
                <p>
                If the return value of a function is not a javascript object ({} or []), it will be stringified.
                </p>
              </td>
            </tr>
          </table>
        </div>

      </div><!-- showAPI -->

    </div><!-- container -->

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
