h1 {
    text-align: center;
    margin-bottom: 30px;
}

#resetButton {
    margin-left: 20px;
}

#navBar {
	margin-bottom:20px;
	padding-left: 10%;
}

#navBar li {
	margin-left: 10px;
}

.panel-body {
	margin-top: 10px;
}